homelab_secrets:
  proxmox_api_token_id: "homelab@pve!automation"
  proxmox_api_token_secret: "replace-me"
  packer_ssh_password: "replace-me"

  cloudflare_api_token: "replace-me"
  cloudflare_account_id: "replace-me"
  cloudflare_zone_id: "replace-me"
  cloudflare_access_allowed_emails:
    - "replace-me@example.com"

  postgres_password: "replace-me"
  n8n_encryption_key: "replace-me"
  mqtt_username: "replace-me"
  mqtt_password: "replace-me"
  zigbee2mqtt_network_key: "[1, 3, 5, 7, 9, 11, 13, 15, 0, 2, 4, 6, 8, 10, 12, 14]"
  uptime_kuma_admin_name: "admin"
  uptime_kuma_admin_password: "replace-me"
  cloudbeaver_admin_name: "replace-me"
  cloudbeaver_admin_password: "replace-me"
  copyparty_admin_name: "admin"
  copyparty_admin_password: "replace-me"
