# OS
.DS_Store
.AppleDouble
.LSOverride
._*

# OpenTofu
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
.terraform.lock.hcl
terraform.rc
terraform.d

# Ansible
*.retry
*.log
ansible/inventory/*.ini
!ansible/inventory/hosts.ini.example

# SSH Keys
*.pem
*.key
id_rsa*

# Editor
.vscode/
.idea/

# Packer
packer_cache/
crash.log
*.iso
*.iso.lock

.env