{% set copyparty_admin_name = homelab_effective.secrets[homelab_effective.apps.copyparty.admin_name_secret] %}
{% set copyparty_admin_password = homelab_effective.secrets[homelab_effective.apps.copyparty.admin_password_secret] %}
{% set copyparty_guest_password = homelab_effective.secrets.copyparty_guest_password %}
{% set copyparty_manager_password = homelab_effective.secrets.copyparty_manager_password %}
[global]
  name: magnetic-marten-share
  shr: /shr
  xff-hdr: x-forwarded-for
  xff-src: 10.42.0.0/16
  rproxy: -1
  dont-ban: any

[accounts]
  {{ copyparty_admin_name }}: {{ copyparty_admin_password }}
  guest: {{ copyparty_guest_password }}
  manager: {{ copyparty_manager_password }}

[/share]
  /srv/share
  accs:
    r: @acct
    rw: {{ copyparty_admin_name }}, manager
  flags:
    e2d: true
    scan: 60

{% if homelab_copyparty_ingest_ready | default(false) %}
[/ingest]
  /srv/ingest
  accs:
    r: {{ copyparty_admin_name }}
  flags:
    hist: /srv/share/.hist/ingest
{% endif %}
