{% set copyparty_admin_name = homelab_effective.secrets[homelab_effective.apps.copyparty.admin_name_secret] %}
{% set copyparty_admin_password = homelab_effective.secrets[homelab_effective.apps.copyparty.admin_password_secret] %}
[global]
  name: magnetic-marten-share
  shr: /shr

[accounts]
  {{ copyparty_admin_name }}: {{ copyparty_admin_password }}

[/share]
  /srv/share
  accs:
    r: @acct
    rw: {{ copyparty_admin_name }}
  flags:
    e2d: true
    scan: 60

[/ingest]
  /srv/ingest
  accs:
    r: @acct
