apiVersion: v1
kind: Namespace
metadata:
  name: {{ homelab_effective.apps.glances.namespace }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ homelab_effective.apps.glances.service_name }}
  namespace: {{ homelab_effective.apps.glances.namespace }}
spec:
  ports:
    - name: http
      port: {{ homelab_effective.apps.glances.port }}
      targetPort: {{ homelab_effective.apps.glances.port }}
---
apiVersion: v1
kind: Endpoints
metadata:
  name: glances
  namespace: {{ homelab_effective.apps.glances.namespace }}
subsets:
  - addresses:
      - ip: {{ homelab_effective.dev_admin.ip }}
    ports:
      - name: http
        port: {{ homelab_effective.apps.glances.port }}
        protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: glances
  namespace: {{ homelab_effective.apps.glances.namespace }}
  annotations:
    cert-manager.io/cluster-issuer: "{{ homelab_effective.cert_manager.cluster_issuer_name }}"
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - {{ homelab_effective.domain.glances }}
      secretName: homelab-wildcard-tls
  rules:
    - host: {{ homelab_effective.domain.glances }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ homelab_effective.apps.glances.service_name }}
                port:
                  number: {{ homelab_effective.apps.glances.port }}
