---
- name: Install K3s
  shell: curl -sfL https://get.k3s.io | sh -
  args:
    creates: /usr/local/bin/k3s
  environment:
    K3S_KUBECONFIG_MODE: "644"
  when: inventory_hostname in groups['k3s_master']

- name: Get K3s token
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: k3s_token
  when: inventory_hostname in groups['k3s_master']
  run_once: true

- name: Install K3s Agent
  shell: curl -sfL https://get.k3s.io | K3S_URL=https://{{ hostvars[groups['k3s_master'][0]]['ansible_host'] }}:6443 K3S_TOKEN={{ k3s_token['content'] | b64decode | trim }} sh -
  args:
    creates: /usr/local/bin/k3s-agent
  when: inventory_hostname in groups['k3s_worker']
