all:
  vars:
    ansible_user: {{ homelab_effective.ssh.user }}
    ansible_ssh_private_key_file: {{ homelab_effective.ssh.private_key_path }}
    ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
  children:
    proxmox:
      hosts:
        proxmox-01:
          ansible_host: {{ homelab_effective.proxmox.ssh_host }}
          ansible_user: {{ homelab_effective.proxmox.ssh_user }}
          ansible_port: {{ homelab_effective.proxmox.ssh_port }}
    k3s_control:
      hosts:
        {{ tofu_inventory.k3s_control.name }}:
          ansible_host: {{ tofu_inventory.k3s_control.ip }}
          node_role: control
          vmid: {{ tofu_inventory.k3s_control.vmid }}
    k3s_worker:
      hosts:
        {{ tofu_inventory.k3s_worker.name }}:
          ansible_host: {{ tofu_inventory.k3s_worker.ip }}
          node_role: worker
          vmid: {{ tofu_inventory.k3s_worker.vmid }}
    dev_admin:
      hosts:
        {{ tofu_inventory.dev_admin.name }}:
          ansible_host: {{ tofu_inventory.dev_admin.ip }}
          vmid: {{ tofu_inventory.dev_admin.vmid }}
          remote_login_user: {{ homelab_effective.dev_admin.login_user }}
    home_assistant:
      hosts:
        {{ tofu_inventory.haos.name }}:
          ansible_host: {{ tofu_inventory.haos.ip }}
          vmid: {{ tofu_inventory.haos.vmid }}
          mac_address: {{ tofu_inventory.haos.mac }}
    k3s_cluster:
      children:
        k3s_control: {}
        k3s_worker: {}
