[defaults]
inventory = inventory/bootstrap.yml,inventory/generated/hosts.yml
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False
stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/.ansible-${USER}/tmp
collections_path = ~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
pipelining = True
control_path_dir = /tmp/ansible-cp
